## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,County,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bandarbeyla,SO,82.69,broken clouds,9.4942,50.8122,JABIR HOTEL
1,12,Hilo,US,76.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
2,22,Butaritari,KI,82.44,moderate rain,3.0707,172.7902,Isles Sunset Lodge
3,24,Dingle,PH,76.59,light rain,10.9995,122.6711,SEGAYA PROPERTY
4,28,Bundaberg,AU,75.49,clear sky,-24.8500,152.3500,Takalvan Motel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{County}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Half Moon Bay"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Half Moon Bay"] 
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Pacific Grove"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Patterson"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Laguna"]

vacation_start

,City_ID,City,County,Max Temp,Current Description,Lat,Lng,Hotel Name
76,242,Half Moon Bay,US,81.41,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = start
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

start

(37.4636, -122.4286)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="BICYCLING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,County,Max Temp,Current Description,Lat,Lng,Hotel Name
0,242,Half Moon Bay,US,81.41,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,72,Pacific Grove,US,77.76,clear sky,36.6177,-121.9166,Lovers Point Inn
2,64,Patterson,US,86.07,broken clouds,37.4716,-121.1297,Best Western Plus Villa Del Lago Inn
3,50,Laguna,US,89.31,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
4,242,Half Moon Bay,US,81.41,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{County}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))